/* Layout */
.arrange { justify-content: space-around; }
.column { display: flex; flex-direction: column; }
.grow { flex-grow: 1; }
.page_container { display: flex; }
.row { display: flex; flex-direction: row; margin-bottom: 1rem; }
.row .row { margin-bottom: 0.25rem; }
.shrink { flex-grow: 0; }

/* Common Elements */
a { color: mediumblue; text-decoration: none; }
a:hover { color: cornflowerblue; }

h1 { margin: 0px; }
hr { margin: 0.5em 0px; align-self: stretch; }
.subtitle { color: grey; font-size: 1.25em; }

/* Hide initially */
.inactive { display: none; }

textarea { min-height: 4rem; min-width: 20rem;}
/* Negotiation requires a larger text field */
textarea.negotiator { min-width: 50rem; min-height: 10rem; }

.column.chat .column { position: relative; }
span.remote_status { position: absolute; top: 0.1em; left: 0.1em; padding: 0.25em; opacity: 0.7; background-color: palegreen; font-size: 0.75em; }
span.remote_status.inactive{ display: inline; opacity: 0; }

/* Chat history should be reversed */
div.column.history { flex-direction: column-reverse; width: 50vw; max-width: 600px; }
div.column.history div.row.local { justify-content: flex-end; }
div.column.history div.row.remote { justify-content: flex-start; color: dodgerblue; }
div.column.history div.row > div { max-width: 60%; padding: 0.5rem; border: solid 1px black; border-radius: 4px; box-shadow: 3px 3px 5px; }
div.column.history div.row.remote > div { border-color: darkslateblue; background-color: dodgerblue; color: white; box-shadow: 3px 3px 5px dodgerblue; }
